@import 'base';

.title {
    font-size: 24pt;
}

.input {
    min-width: 500px;
    margin-bottom: 10px;
}

.select {
    width: 200px;
}

.inputNoMargin {
    min-width: 500px;
}

.button {
}

.copyButton {
    background: $orange;
    padding: 10px 15px;
    margin-left: 20px;
    .copyIcon {
        filter: invert(1);
    }
}

.error {
    color: red;
    margin-top: 5px;
    font-size: 11pt;
}

.tooltip {
    max-width: 200px;
    width: max-content !important;
    text-align: center;
}

.tooltipCopied {
    background: #B4D4A5 !important;
    &::after {
        border-color: transparent #B4D4A5 transparent transparent !important;
    }
}

.buttonWrapper {
    margin-top: 10px;
    display: flex;
}
