@import 'base';

.wrapper {
    h2 {
        font-size: 24pt;
    }

    .input {
        margin-bottom: 15px;
        min-width: 500px;
        width: 500px;
    }

    .roleSelect {
        margin-bottom: 15px;
        min-width: 200px;
        width: 200px;
    }

    .error {
        @include error;
        margin-bottom: 10px;
    }

    .success {
        @include success;
        margin-bottom: 10px;
    }
}
