@font-face
{
    font-family: "Quicksand Bold";
    src: url('../../assets/fonts/Quicksand-Bold.ttf');
    font-weight: normal;
}

@font-face
{
    font-family: "Quicksand Semi Bold";
    src: url('../../assets/fonts/Quicksand-SemiBold.ttf');
    font-weight: normal;
}

@font-face
{
    font-family: "Quicksand Medium";
    src: url('../../assets/fonts/Quicksand-Medium.ttf');
    font-weight: normal;
}

@font-face
{
    font-family: "Quicksand Regular";
    src: url('../../assets/fonts/Quicksand-Regular.ttf');
    font-weight: normal;
}

@font-face
{
    font-family: "Quicksand Light";
    src: url('../../assets/fonts/Quicksand-Light.ttf');
    font-weight: normal;
}

@font-face
{
    font-family: "Red Hat Display Black";
    src: url('../../assets/fonts/RedHatDisplay-Black.ttf');
    font-weight: normal;
}

@font-face
{
    font-family: "Red Hat Display Black Italic";
    src: url('../../assets/fonts/RedHatDisplay-BlackItalic.ttf');
    font-weight: normal;
}

@font-face
{
    font-family: "Red Hat Display Bold";
    src: url('../../assets/fonts/RedHatDisplay-Bold.ttf');
    font-weight: normal;
}

@font-face
{
    font-family: "Red Hat Display Bold Italic";
    src: url('../../assets/fonts/RedHatDisplay-BoldItalic.ttf');
    font-weight: normal;
}

@font-face
{
    font-family: "Red Hat Display Medium";
    src: url('../../assets/fonts/RedHatDisplay-Medium.ttf');
    font-weight: normal;
}

@font-face
{
    font-family: "Red Hat Display Medium Italic";
    src: url('../../assets/fonts/RedHatDisplay-MediumItalic.ttf');
    font-weight: normal;
}

@font-face
{
    font-family: "Red Hat Display Italic";
    src: url('../../assets/fonts/RedHatDisplay-Italic.ttf');
    font-weight: normal;
}

@font-face
{
    font-family: "Red Hat Display Regular";
    src: url('../../assets/fonts/RedHatDisplay-Regular.ttf');
    font-weight: normal;
}
