@import 'base';

.header {
    display: flex;
    padding: 0 35px;
    align-items: center;
    background: white;
    opacity: 0.95;
    height: 60px;
    width: 100%;
    filter: drop-shadow(1px 2.5px 2.5px rgba(0,0,0,0.3));
    z-index: 100;
    position: relative;

    .logo {
        display: flex;
        align-items: center;
        cursor: pointer;

        .logoImg {
            filter: drop-shadow(1px 2.5px 2.5px rgba(0,0,0,0.3));
            width: 30px;
        }

        .logoText {
            font-size: 16pt;
            margin-left: 10px;
            justify-content: center;
            height: max-content;
            @include quicksand-bold;
        }
    }

    .spacer {
        margin: auto;
    }

    .username {
        cursor: pointer;
        font-size: 16pt;
        @include quicksand-bold;
        margin-right: 10px;

        &:hover {
            text-decoration: underline 3px;
        }
    }

}
