@import '../../base';

#login-content {
    & > .content {
        display: flex;
        --size-circle: 1100px;

        @include mediaWidth(700px) {
            flex-direction: column;
        }

        & > .c-1 {
            width: 70%;
            min-height: 100vh;
            padding-left: var(--margin-left);
            padding-top: 70px;
            padding-bottom: 70px;
            box-sizing: border-box;

            @include mediaWidth(700px) {
                width: 100%;
                padding-right: var(--margin-right);
                padding-top: 30px;
            }

            .logo-uptitle {
                display: flex;
                align-items: baseline;

                h3 {
                    margin-left: 10px;
                }

                img {
                    @include mediaWidth(600px) {
                        width: 80px;
                        height: auto;
                    }
                }
            }

            .title {
                margin-top: 50px;
            }

            .description {
                margin-top: 50px;
                padding-right: 100px;

                @include mediaWidth(700px) {
                    padding-right: 0;
                }
            }

            .button-wrap {
                margin-top: 40px;
            }
        }

        & > .c-2 {
            position: relative;
            width: 30%;
            overflow: hidden;

            @include mediaWidth(700px) {
                display: none;
            }
        }
    }
}