@import 'base';

.select {
    font-size: 16pt;
    width: 100%;
    position: relative;


    // /* Track */
    // ::-webkit-scrollbar-track {
    //     background: black;
    //     -webkit-border-radius: 10px;
    //     border-radius: 15px;
    // }

    // /* Handle */
    // ::-webkit-scrollbar-thumb {
    //     -webkit-border-radius: 10px;
    //     border-radius: 15px;
    //     height: 10px;
    //     background: rgba(255,0,0,0.8); 
    // }
    ::-webkit-scrollbar {
        display: none;
    }

    .dropdown {
        width: 100%;
        position: absolute;
        flex-direction: column;
        margin-top: 38px;
        top: 0;
        left: 0;
        background: white;
        border: 2px solid #E0E0E0;
        border-radius: 0 0 15px 15px;
        display: none;
        overflow-y: scroll;
        max-height: 200px;

        scrollbar-width: none;

        button {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 100%;

            @include quicksand-regular;
            text-align: left;
            font-size: 16pt;
            background: none;
            border: none;
            padding: 5px;
            border-bottom: solid #ddd 2px;
            &:hover {
                background: #f0f0f0;
            }
            cursor: pointer;
        }

        .buttonLast {
            border-radius: 0 0 15px 15px;
            border: none;
        }

        .buttonChosen {
            background: #f0f0f0;
        }
    }

    .current {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        position: relative;

        @include quicksand-regular;
        font-size: 16pt;

        padding: 5px;
        padding-right: 35px;
        width: 100%;
        text-align: left;

        background: white;
        border:  2px solid #E0E0E0;
        border-radius: 15px;
        cursor: pointer;

        &::after {
            content: ">";
            position: absolute;
            transform: rotate(90deg);
            right: 10px;
            font-weight: bold;
            color: #909090;
        }
    }

    .closeButton {
        display: none;
        background: none;
        border: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

}

.selectOpen {

    .dropdown {
        display: block;
        z-index: 1001;
    }

    .current {
        z-index: 1002;
        border-radius: 15px 15px 0 0;

        &::after {
            transform: rotate(-90deg) translateY(-25%);
        }
    }

    .closeButton {
        z-index: 1000;
        display: block;
    }

}

.selectDisabled {
    .current {
        background: #f0f0f0;
        cursor: not-allowed;
    }
}
