@import 'base';

.error {
    @include error;
    margin-bottom: 10px;
}

.success {
    @include success;
    margin-bottom: 10px;
}

.title {
    font-size: 24pt;
}

.input {
    margin-bottom: 15px;
    min-width: 500px;
}
