@import 'base';

.title {
    font-size: 64pt;
    font-family: 'Quicksand';
    margin-bottom: 50px;

    @media (max-width: 768px) {
        font-size: 40pt;
    }
}

.loginButton {
    margin-top: 50px;

    @media (max-width: 768px) {
        width: 100%;
    }
}
